.container img#picture-size {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    width: 520px;
    height: 320px;
    padding-top: 1em;
}

body{
    background-color:rgb(252, 247, 237);
    color: darkslategray;
}